.hub{
    display:flex;
    
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 9vw;
    border-radius: 1vw;
    background-color: #000000;
    }

.hub span:nth-child(2){
    background: #FF9900;
    color:#000000;
    border-radius: 1vw;
    padding: 1vw 1vw 1vw 1vw;
    display: inline-block;
}
#hhub{
    
    color:#000000;
    font-weight: bold
}